body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.index_page {

}

.header_section {
    width: 100%;
    height: 8rem;
    background: url("/static/images/header.jpg");
    background-size: 100% 100%;
    /*margin-bottom: -20px;*/
}

.nav_section {

}

.navs {
    width: 100%;
    position: relative;
    z-index: 4;
    left: 0;
}

.navs .nav {
    width: 100%;
    height: 4rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    background-color: rgba(249, 249, 249, .6);
    background-image: linear-gradient(to bottom, rgba(249, 249, 249, .8), rgba(235, 235, 235, .8));
    display: -webkit-box;
    display: -moz-box;
    font-size: 1.6rem;
}

.navs .nav .active {
    color: #ff5800;
    box-shadow: inset 0 -2px 0 #ff5800;
}

.navs .nav .item {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    display: block;
    text-align: center;
    overflow: hidden;
    color: #262b2f;
    text-decoration: none;
    line-height: 4rem;
}

.navs .nav .active {
    color: #ff5800;
    box-shadow: inset 0 -2px 0 #ff5800;
}

.body_section {
    /*margin-top: -20px;*/
    /*min-height: 48rem;*/
    background: url("/static/images/bg.png");
    background-size: 100% 100%;
    margin-bottom: 108px;
}

.footer_section {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

#home {
    /*background-color: #f4f5f7;*/
    background-color: #f2f4f4;
    border-top: #d9d9d9 .1rem solid;
    min-height: 6rem;
}

.hidden {
    display: none;
}

.user_name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    /*opacity: 0.7;*/
    color: black;
    line-height: 8rem;
}

.face_img {
    width: 5rem;
    height: 5rem;
    margin: 1rem 1.5rem 0 1.5rem;
}

.album_info {
    background: #f4f4f4;
}

.no_login {
    width: 100%;
    padding-top: 5rem;
    height: 20rem;
    text-align: center;
}

#login {
    padding: 4rem;
    background: #f4f4f4;
}

.btn-center {
    text-align: center;
    margin-top: 2rem;
}

/*箭头向上*/
.to_top {
    width: 0;
    height: 0;
    border-bottom: 4px solid gold;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

/*箭头向下*/
.to_bottom {
    width: 0;
    height: 0;
    border-top: 4px solid gold;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

/*箭头向左*/
.to_left {
    width: 0;
    height: 0;
    border-right: 10px solid #ccc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/*箭头向右*/
.to_right {
    width: 0;
    height: 0;
    border-left: 10px solid #ccc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/*
*音乐播放器 start
*/
.demo {
    width: 100%;
    /*margin: 160px auto;*/
    border-radius: 10px;
}

/*.demo p {*/
/*padding: 10px 0;*/
/*position: relative;*/
/*left: 16px;*/
/*opacity: 0.5;*/
/*}*/

.aplayer .aplayer-pic .aplayer-play .aplayer-icon-play {
    top: 1px;
    left: 3px;
}

.aplayer .aplayer-pic .aplayer-pause .aplayer-icon-pause {
    top: 0px;
    left: 0px;
}

.aplayer {
    margin: 0;
}

.aplayer .aplayer-info {
    padding: 14px 11px 0 10px;
}

/*
*音乐播放器 end
*/

.left img {
    border-radius: 8px;
}