{% extends 'shared/layout.html' %}
{% block title %}排行榜{% endblock %}

{% block content %}
    <section class="main">
        <div class="slide" id="J_Slide" style="display: none;"><a
                href="//itunes.apple.com/cn/app/xia-mi-yin-le/id595594905?mt=8" target="_blank" alt="H5_banner"><img
                src="//gw.alicdn.com/tps/TB1s.XCKFXXXXbRXFXXXXXXXXXX-750-176.png" width="100%"></a></div>
        <div class="content">
            <div class="list" data-type="737189727">
                <ul>
                    <li id="101" class="line">
                        <div class="next"></div>
                        <img src="//gw.alicdn.com/tps/i1/T19LocFghXXXXsGF3s-640-640.png">
                        <p class="title">虾米音乐榜</p></li>
                    <li id="103" class="line">
                        <div class="next"></div>
                        <img src="//gw.alicdn.com/tps/i1/T1qMgSFlxkXXXsGF3s-640-640.png">
                        <p class="title">虾米原创榜</p></li>
                    <li id="1" class="line">
                        <div class="next"></div>
                        <img src="//img.alicdn.com/tps/TB1RTkfNVXXXXXdXFXXXXXXXXXX-290-290.png">
                        <p class="title">Hito中文排行榜</p></li>
                    <li id="2" class="line">
                        <div class="next"></div>
                        <img src="//img.alicdn.com/tps/TB1GMQvNVXXXXbwXXXXXXXXXXXX-290-290.png">
                        <p class="title">香港劲歌金榜</p></li>
                    <li id="3" class="line">
                        <div class="next"></div>
                        <img src="//img.alicdn.com/tps/TB11FsrNVXXXXabXpXXXXXXXXXX-290-290.png">
                        <p class="title">英国UK单曲榜</p></li>
                    <li id="4" class="line">
                        <div class="next"></div>
                        <img src="//img.alicdn.com/tps/TB1EqgvNVXXXXbPXXXXXXXXXXXX-290-290.png">
                        <p class="title">Billboard单曲榜</p></li>
                    <li id="5" class="line">
                        <div class="next"></div>
                        <img src="//img.alicdn.com/tps/TB17O3cNVXXXXa0XFXXXXXXXXXX-290-290.png">
                        <p class="title">Oricon公信单曲榜</p></li>
                    <li id="6" class="line">
                        <div class="next"></div>
                        <img src="//img.alicdn.com/tps/TB1K.ErNVXXXXXcXpXXXXXXXXXX-290-290.png">
                        <p class="title">M-net综合数据周榜</p></li>
                    <li id="106" class="line">
                        <div class="next"></div>
                        <img src="//img.alicdn.com/tps/TB1nUn_NVXXXXX4XVXXXXXXXXXX-330-330.png">
                        <p class="title">陌陌试听榜</p></li>
                    <li id="31" class="line">
                        <div class="next"></div>
                        <img src="//img.alicdn.com/tps/TB1nmf7NVXXXXbFXVXXXXXXXXXX-330-330.png">
                        <p class="title">音乐风云榜</p></li>
                    <li id="10011" class="line">
                        <div class="next"></div>
                        <img src="//img.alicdn.com/tps/TB1mrUbNVXXXXaFXVXXXXXXXXXX-330-330.png">
                        <p class="title">微信分享榜</p></li>
                    <li id="10012" class="line">
                        <div class="next"></div>
                        <img src="//img.alicdn.com/tps/TB1h1oaNVXXXXXrXVXXXXXXXXXX-330-330.png">
                        <p class="title">微博分享榜</p></li>
                    <li id="10013" class="line">
                        <div class="next"></div>
                        <img src="//img.alicdn.com/tps/TB1tK7cNVXXXXXgXVXXXXXXXXXX-330-330.png">
                        <p class="title">大虾试听榜</p></li>
                    <li id="10014" class="line">
                        <div class="next"></div>
                        <img src="//img.alicdn.com/tps/TB1KQseNVXXXXbfXFXXXXXXXXXX-330-330.png">
                        <p class="title">歌单收录榜</p></li>
                </ul>
            </div>
        </div>
        <div class="loading-wrap" style="display: none;">
            <div class="loading">
                <div class="loading-mask"></div>
                <div class="loading-load">
                    <div class="loading-bd">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <p>正在加载...</p></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}