{% extends 'shared/layout.html' %}
{% block title %}首页{% endblock %}

{% block content %}
    <div id="home">
        <h1>首页</h1>
        <h1>[[msg]]</h1>
        <img src="/static/images/music.png">
    <p>
        <img src="/static/images/music.png">
    </p>
    <p>
        <img src="/static/images/music.png">
    </p>
    <p>
        <img src="/static/images/music.png">
    </p>
    <p>
        <img src="/static/images/music.png">
    </p>
    <p>
        <img src="/static/images/music.png">
    </p>
    <p>
        <img src="/static/images/music.png">
    </p>
    <p>
        <img src="/static/images/music.png">
    </p>

    <p>
        <img src="/static/images/music.png">
    </p>

    <p>
        <img src="/static/images/music.png">
    </p>

    <p>
        <img src="/static/images/music.png">
    </p>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/page/home.js"></script>
{% endblock %}