{% extends 'shared/layout.html' %}
{% block title %}首页{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/css/page/search.css">
{% endblock %}
{% block content %}
    <div id="app">
        <!--首页-->
        <section class="main" id="home" v-if="show_page=='home'">
            <div class="content">
                <div class="list">
                    <ul>
                        <li v-for="(item, index) of recommend_music_list" class="line">
                            <div class="left">
                                <img v-bind:src="[[item.cover_path==''?'/static/images/music.png':item.cover]]"
                                     class="li_img home_img"/>
                            </div>
                            <div class="right">
                                <div class="next" @click="click_album_desc(item)"></div>
                                <p class="song-name">[[item.albumTitle]]</p>
                                <p class="singer-name">[[item.anchorName]]</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </section>

        <!--歌单-->
        <section class="main" id="collect" v-if="show_page=='collect'">
            <div class="slide" id="J_Slide" style="display: none;"><a
                    href="//itunes.apple.com/cn/app/xia-mi-yin-le/id595594905?mt=8" target="_blank" alt="H5_banner"><img
                    src="//gw.alicdn.com/tps/TB1s.XCKFXXXXbRXFXXXXXXXXXX-750-176.png" width="100%"></a></div>
            <div class="content">
                <div class="list" data-type="-2145171473" title="虾米音乐">
                    <ul>
                        <li data-id="621151938" class="line">
                            <div class="next"></div>
                            <img src="https://pic.xiami.net/images/collect/7236969/621151938/b141fc9f5d174ac98a989554ba02f4eb_20287ee758554837a89db83f2fcd919e.jpg">
                            <p class="title">节奏控 ~ 挺好听的冷门女声（6）</p></li>
                        <li data-id="596278323" class="line">
                            <div class="next"></div>
                            <img src="https://pic.xiami.net/images/collect/346929298/596278323/62a396a6fee14893954f7f8a4db2fb7f_4aab7ac5e5fd4efbba0c953f476e52cf.jpg">
                            <p class="title">【燃】那些充满力量的福音男声</p></li>
                        <li data-id="608239115" class="line">
                            <div class="next"></div>
                            <img src="http://pic.xiami.net/images/collect/115/15/608239115_5c064f3c9fd11_tfAa_1543917372.jpg">
                            <p class="title">小哥哥你逃不出我的五指山</p></li>
                        <li data-id="420800520" class="line">
                            <div class="next"></div>
                            <img src="http://pic.xiami.net/images/collect/520/20/420800520_1533950648_rN3N.jpg">
                            <p class="title">走进爱情电影 邂逅别样浪漫｜欧美轻喜剧</p></li>
                        <li data-id="655783960" class="line">
                            <div class="next"></div>
                            <img src="https://pic.xiami.net/images/collect/12359114/655783960/eafdf3d5600c40d8b448324537a1b28f_0dbd88a8a119429e9f472413047b8468.jpg">
                            <p class="title">超 越 与 传 承《莫扎特与海顿交响乐》</p></li>
                        <li data-id="596812290" class="line">
                            <div class="next"></div>
                            <img src="http://pic.xiami.net/images/collect/290/90/596812290_1542854740_o5BG.jpeg">
                            <p class="title">冬日夜空，温暖世间</p></li>
                        <li data-id="436137651" class="line">
                            <div class="next"></div>
                            <img src="https://pic.xiami.net/images/collect/52300480/436137651/e796d36e8b2749c09db05cff80f26510_e94603c1eee2401b9ab651950eaa4303.jpg">
                            <p class="title">地球上的最后一晚</p></li>
                        <li data-id="410319948" class="line">
                            <div class="next"></div>
                            <img src="http://pic.xiami.net/images/collect/948/48/410319948_1546080289_7JXk.jpg">
                            <p class="title">2018欧美热单｜最强盘点来袭 VOL.1</p></li>
                        <li data-id="666758873" class="line">
                            <div class="next"></div>
                            <img src="http://pic.xiami.net/images/appv5/common/23280/5c2734c05d9cb_I9hx_1546073280.jpg">
                            <p class="title">【2018】年度佳片观影指南</p></li>
                        <li data-id="666612497" class="line">
                            <div class="next"></div>
                            <img src="http://pic.xiami.net/images/collect/497/97/666612497_1546065673_tPiV.jpg">
                            <p class="title">作为资深乐迷，2018年你需要知道的10件事</p></li>
                        <li data-id="666907957" class="line">
                            <div class="next"></div>
                            <img src="http://pic.xiami.net/images/collect/957/57/666907957_1545804947_wIHV.jpg">
                            <p class="title">叮咚◈你有一份快乐清单,请注意查收 ᝰ</p></li>
                        <li data-id="428545133" class="line">
                            <div class="next"></div>
                            <img src="https://pic.xiami.net/images/collect/2521128/428545133/102f8a46e49b4bf694114fd7ad44f210_b7d7c379e37c4257af78348f893bfcb2.jpg">
                            <p class="title">【女声】一听钟情 情之所起</p></li>
                        <li data-id="666302507" class="line">
                            <div class="next"></div>
                            <img src="http://pic.xiami.net/images/collect/507/7/666302507_1545499317_a2TO.jpeg">
                            <p class="title">2019年维也纳新年音乐会节目单</p></li>
                        <li data-id="632464650" class="line">
                            <div class="next"></div>
                            <img src="http://img.xiami.net/images/appv5/common/2713/5c10c4594a60b_cqFt_1544602713.jpg">
                            <p class="title">【欧美小众】动听小调道早安</p></li>
                        <li data-id="632930746" class="line">
                            <div class="next"></div>
                            <img src="http://pic.xiami.net/images/appv5/common/40327/5c1157471efa8_eAYi_1544640327.jpg">
                            <p class="title">后摇【史诗长篇】</p></li>
                    </ul>
                </div>
            </div>
            <div class="loading-wrap" style="display: none;">
                <div class="loading">
                    <div class="loading-mask"></div>
                    <div class="loading-load">
                        <div class="loading-bd">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                            <p>正在加载...</p></div>
                    </div>
                </div>
            </div>
        </section>

        <!--搜索-->
        <section class="main" id="search" v-if="show_page=='search'">
            <div class="slide" id="J_Slide" style="display: none;"><a
                    href="//itunes.apple.com/cn/app/xia-mi-yin-le/id595594905?mt=8" target="_blank" alt="H5_banner"><img
                    src="//gw.alicdn.com/tps/TB1s.XCKFXXXXbRXFXXXXXXXXXX-750-176.png" width="100%"></a></div>
            <div class="content">
                <div class="search">
                    <div class="form">
                        <div class="keyipt">
                            <input placeholder="输入歌曲、专辑、艺人名搜索" class="key" type="search" v-model="search_msg"
                                   v-on:input="search_msg_change">
                        </div>
                        <a class="btn-search" @click="search()">搜 索</a>
                    </div>
                </div>
                <div class="hot-key" v-show="!is_searched"><h3 class="tit">今日搜索热词</h3>
                    <div class="list">
                        <ul>
                            <li v-for="(item, index) of search_history" class="line">
                                <div class="next" @click="click_history(item)"></div>
                                <p class="index rk">[[index+1]]</p>
                                <p class="title">[[item]]</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="list" v-show="is_searched" id="search_result">
                    <ul>
                        <li v-for="item of music_list" class="line">
                            <div class="left">
                                <img v-bind:src="[[item.cover_path==''?'/static/images/music.png':item.cover_path]]"
                                     class="li_img"/>
                            </div>
                            <div class="right">
                                <div class="song-info">
                                    <p class="song-name">
                                        [[item.title]]
                                    </p>
                                    <p class="singer-name">[[item.album_title]] / [[item.nickname]]</p>
                                </div>
                                <div class="right song-action">
                                    <img src="/static/images/play.png" class="action_image" @click="paly_music(item)">
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

        </section>

        <!--专辑详情-->
        <div class="list album_info hidden">
            <ul>
                <li v-for="item of album_info_list" class="line">
{#                    <div class="left">#}
{#                        <img v-bind:src="[[item.cover_path==''?'/static/images/music.png':item.trackCoverPath]]"#}
{#                             class="li_img"/>#}
{#                    </div>#}
{#                    <div class="right">#}
                        <div class="song-info"style="text-align: center;">
                            <p class="song-name" >
                                [[item.trackName]]
                            </p>
                            <p class="singer-name">[[item.albumName]]</p>
                        </div>
                        <div class="right song-action">
                            <img src="/static/images/play.png" class="action_image" @click="paly_music_new(item.trackName,'',item.src,item.trackCoverPath,'')">
                        </div>
{#                    </div>#}

                </li>
            </ul>
        </div>
    </div>
{% endblock %}