{% extends 'shared/layout.html' %}
{% block title %}首页{% endblock %}

{% block content %}
    <section class="main" id="home">
        <div class="slide" id="J_Slide" style=""><a href="//itunes.apple.com/cn/app/xia-mi-yin-le/id595594905?mt=8"
                                                    target="_blank" alt="H5_banner"><img
                src="//gw.alicdn.com/tps/TB1s.XCKFXXXXbRXFXXXXXXXXXX-750-176.png" width="100%"></a></div>
        <div class="content">
            <div class="list" data-type="-807536407" title="虾米音乐">
                <ul>
                    <li id="song1804120461" data-isplay="1" data-id="1804120461" class="line"><p class="song-name">
                        你之所以是你 (Remix)</p>
                        <p class="singer-name">左小祖咒 / 范晓萱</p></li>
                    <li id="song1803744308" data-isplay="1" data-id="1803744308" class="line"><p class="song-name">
                        被遗忘的时光<img class="ico-pay"
                                   src="//gtms02.alicdn.com/tps/i2/TB1HdWFKXXXXXazXVXXpwEGJpXX-87-36.png" width="29">
                    </p>
                        <p class="singer-name">周蕙</p></li>
                    <li id="song1803119928" data-isplay="1" data-id="1803119928" class="line"><p class="song-name">
                        Rise<img class="ico-pay" src="//gtms02.alicdn.com/tps/i2/TB1HdWFKXXXXXazXVXXpwEGJpXX-87-36.png"
                                 width="29"></p>
                        <p class="singer-name">Jonas Blue / Jack &amp; Jack</p></li>
                    <li id="song1803270624" data-isplay="0" data-id="1803270624" class="line"><p class="song-name">
                        药神之歌</p>
                        <p class="singer-name">宁浩 / 文牧野 / 黄超</p></li>
                    <li id="song1803964152" data-isplay="0" data-id="1803964152" class="line"><p class="song-name">La La
                        (PROD. 이단옆차기)</p>
                        <p class="singer-name">정세운</p></li>
                    <li id="song1803964484" data-isplay="1" data-id="1803964484" class="line"><p class="song-name">
                        往后余生</p>
                        <p class="singer-name">姜创钢琴</p></li>
                    <li id="song1803065843" data-isplay="1" data-id="1803065843" class="line"><p class="song-name">
                        我的将军啊</p>
                        <p class="singer-name">腾总</p></li>
                    <li id="song1803628109" data-isplay="0" data-id="1803628109" class="line"><p class="song-name">
                        男人不怕苦</p>
                        <p class="singer-name">枫子</p></li>
                    <li id="song1803359284" data-isplay="0" data-id="1803359284" class="line"><p class="song-name">
                        念念又不忘</p>
                        <p class="singer-name">李荣浩</p></li>
                    <li id="song1803609779" data-isplay="1" data-id="1803609779" class="line"><p class="song-name">
                        嘴巴嘟啊嘟</p>
                        <p class="singer-name">嘟嘟姐晶晶</p></li>
                    <li id="song1802461146" data-isplay="0" data-id="1802461146" class="line"><p class="song-name">Done
                        For Me</p>
                        <p class="singer-name">Charlie Puth / Kehlani</p></li>
                    <li id="song1803656745" data-isplay="0" data-id="1803656745" class="line"><p class="song-name">너나
                        해</p>
                        <p class="singer-name">MAMAMOO</p></li>
                    <li id="song1803923617" data-isplay="0" data-id="1803923617" class="line"><p class="song-name">I
                        Wonder (Departure)</p>
                        <p class="singer-name">Soundtrack</p></li>
                    <li id="song1803771930" data-isplay="1" data-id="1803771930" class="line"><p class="song-name">
                        醉千年</p>
                        <p class="singer-name">罗天皓</p></li>
                    <li id="song1803962950" data-isplay="1" data-id="1803962950" class="line"><p class="song-name">
                        模样<img class="ico-pay" src="//gtms02.alicdn.com/tps/i2/TB1HdWFKXXXXXazXVXXpwEGJpXX-87-36.png"
                               width="29"></p>
                        <p class="singer-name">老狼</p></li>
                    <li id="song1803453727" data-isplay="0" data-id="1803453727" class="line"><p class="song-name">
                        大梦</p>
                        <p class="singer-name">李雨</p></li>
                    <li id="song1803360551" data-isplay="1" data-id="1803360551" class="line"><p class="song-name">
                        寻你而行</p>
                        <p class="singer-name">雨木</p></li>
                    <li id="song1803962175" data-isplay="1" data-id="1803962175" class="line"><p class="song-name">You
                        Say<img class="ico-pay" src="//gtms02.alicdn.com/tps/i2/TB1HdWFKXXXXXazXVXXpwEGJpXX-87-36.png"
                                width="29"></p>
                        <p class="singer-name">Lauren Daigle</p></li>
                    <li id="song1803065819" data-isplay="0" data-id="1803065819" class="line"><p class="song-name">
                        9277</p>
                        <p class="singer-name">白色</p></li>
                    <li id="song1803321373" data-isplay="1" data-id="1803321373" class="line"><p class="song-name">
                        生如夏花<img class="ico-pay" src="//gtms02.alicdn.com/tps/i2/TB1HdWFKXXXXXazXVXXpwEGJpXX-87-36.png"
                                 width="29"></p>
                        <p class="singer-name">徐峥 / 王传君 / 谭卓 / 章宇</p></li>
                </ul>
                <p class="load-more" page="2" style="display: block;">点击查看更多</p>
                <div id="toApp">去虾米app，试听更多好歌曲</div>
            </div>
        </div>
        <div class="loading-wrap" style="display: none;">
            <div class="loading">
                <div class="loading-mask"></div>
                <div class="loading-load">
                    <div class="loading-bd">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <p>正在加载...</p></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="/static/js/page/home.js"></script>
{% endblock %}