<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="音乐空间，在线听歌，听音乐">
    <meta name="description" content="一款在线听音乐的H5应用。">
    <title>音乐空间-{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/static/images/music.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/APlayer/APlayer.min.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <link rel="stylesheet" href="/static/css/base.css">
    {% block style %}{% endblock %}
</head>
<body>
<div class="index_page" id="app">

    <div class="header_section">
        {% include 'shared/header.html' %}
    </div>

    <div class="nav_section">
        {% include 'shared/naves.html' %}
    </div>

    <div class="body_section">
        {% block content %}{% endblock %}
    </div>

    <div class="footer_section">
        {% include 'shared/player.html' %}
    </div>

</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/APlayer/APlayer.min.js"></script>
<script src="/static/layer/layer.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/public.js"></script>
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
    });
</script>
{% block js %}{% endblock %}
</body>
</html>