<div class="demo">
    <div id="player" class="aplayer">
            <pre class="aplayer-lrc-content">
                [00:00.00]Jar Of Love
[00:00.08]演唱：曲婉婷
[00:00.22]
[00:01.00]Another sunrise, another sunset
[00:05.10]Soon it'll all be yesterday
[00:08.33]Another good day, another bad day,
[00:12.77]What did you do today?
[00:15.95]Why do we choose to chase what we'll lose?
[00:19.77]What you want isn't what you have.
[00:23.34]What you have may not be yours, to keep.
[00:31.29]If I could find love, at a stop, in a park with open arms,
            </pre>
    </div>
</div>
